.UsersList {
  width: 100%;
  max-width: 700px;

  &__item {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .controls {
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;

      .button {
        height: 32px;
        padding: 0 8px;
        background: white;
        transition: box-shadow 0.3s linear;
        border-radius: 4px;
        border: 1px solid lightgray;

        &:hover:not(:disabled) {
          cursor: pointer;
          box-shadow: 0 4px 8px lightgray;
        }
      }
    }
  }
}