.AddUser__form {
  width: 300px;
  margin: 0 auto;

  .input-field-wrapper {
    padding-bottom: 30px;
  }

  .input-field {
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    padding: 0 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    transition: border-color 0.3s linear, box-shadow 0.3s linear;

    &:focus {
      border-color: black;
      box-shadow: 0 4px 8px lightgray;
      outline: none;
    }

    &.error {
      border-color: red;
    }
  }

  .field-label {
    display: block;
    margin-bottom: 4px;
  }

  .field-error {
    position: absolute;
    font-size: 14px;
    color: red;
  }

  .submit-button {
    width: 100%;
    height: 32px;
    background: white;
    transition: box-shadow 0.3s linear;
    border-radius: 4px;
    border: 1px solid lightgray;

    &:hover:not(:disabled) {
      cursor: pointer;
      box-shadow: 0 4px 8px lightgray;
    }
  }
}